.textdecoration {
    background-color: orange;
    color: brown; 
    margin: 0;
    padding: 1;
    position: fixed;
    left: 0;
    right: 0;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.alignment {
    position: absolute;
    top: 65px;
    bottom: 0;
    left:0;
    right: -2px;
    background: #eee;
    flex: 1 1 auto;
  }

  .button {
    background-color: #3f51b5;
    border: none; 
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1px 1px;
    cursor: pointer;
  }
  .button1 {
    background-color: #ddd; 
    color: brown; 
    
  }
  .button1:hover {
    background-color: brown;
    color: white;
  }

  .background{
    background-color: orange;
  }

  .background1{
    background-color: white;
  }