.center {
    text-align: center;
    justify-content: center;
    color: brown;
  }

.container{
    text-align: center;
    justify-content: center;
    color: brown;
  }

  .example-full-width {
    width: 30%;
    color: brown;
  }

  .button {
    background-color: #3f51b5;
    border: none; 
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 1px 1px;
    cursor: pointer;
  }
  .button1 {
    background-color: brown; 
    color: white; 
    
  }
  .button1:hover {
    background-color: orange;
    color: white;
  }